<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    
	<!-- ********************************************************************* -->
	<!-- resDataService -->
	<!-- ********************************************************************* -->
	
	<bean id="resDataService" parent="baseTransactionProxy">
		<property name="target">
			<ref local="resDataServiceImpl"/>
		</property>
	</bean>
	
	<bean id="resDataServiceImpl"
		class="com.gmcc.boss.selfsvc.resdata.service.ResDataServiceImpl"
		autowire="byName" >
		<property name="resDataDaoImpl">
			<ref bean="resDataDaoImpl"/>
		</property>
	</bean>
	
	<!-- ********************************************************************* -->
	<!-- resDataDao -->
	<!-- ********************************************************************* -->
	<bean id="resDataDaoImpl" parent="baseDao" 
		class="com.gmcc.boss.selfsvc.resdata.dao.ResDataDaoImpl"
		autowire="byName" />
</beans>