<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="selfSvcCallSD"
		class="com.customize.sd.selfsvc.call.impl.SelfSvcCallSDImpl">
		<property name="intMsgUtil" ref="intMsgUtil"></property>
	</bean>

	<bean id="baseBeanSD"
		class="com.customize.sd.selfsvc.bean.impl.BaseBeanSDImpl">
		<property name="selfSvcCallSD" ref="selfSvcCallSD"></property>
	</bean>	
	
	<!-- modify begin wWX217192 2015-04-22 实现service层包含主要逻辑 -->
	<bean id="baseServiceSD" parent="baseService"
		class="com.customize.sd.selfsvc.common.service.BaseServiceSDImpl">
		<!-- modify by sWX219697 2015-5-18 OR_SD_201503_508_SD_自助终端增加主体产品自选套餐的办理 
			改用注解注入
		-->
		<!--  
		<property name="selfSvcCallSD" ref="selfSvcCallSD"></property>
		-->
	</bean>
	<!-- modify end wWX217192 2015-04-22 实现service层包含主要逻辑 -->
	
	<!-- add begin sWX219697 2015-5-7 OR_SD_201503_508_SD_自助终端增加主体产品自选套餐的办理 -->
	<!-- 扫描文件注解 进行解析-->
	<context:component-scan base-package="com.customize.sd" />
	<!-- add begin sWX219697 2015-5-7 OR_SD_201503_508_SD_自助终端增加主体产品自选套餐的办理 -->
</beans>